<table>
  <thead>
    <th>Rôle</th>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mail</th>
    <th>Mot de passe</th>
  </thead>
  <tbody>
    <tr>
      <td>Admin</td>
      <td>Bilel</td>
      <td>Ben Boubaker</td>
      <td>bilel@eseo.fr</td>
      <td>admin</td>
    </tr>
    <tr>
      <td>Elève</td>
      <td>Robert</td>
      <td>Castel</td>
      <td>robert@castel.fr</td>
      <td>robert</td>
    </tr>
    <tr>
      <td>Elève</td>
      <td>Bernard</td>
      <td>Chameau</td>
      <td>bernard@chameau.fr</td>
      <td>bernard</td>
    </tr>
    <tr>
      <td>Elève</td>
      <td>Claude</td>
      <td>Bieme</td>
      <td>claude@bieme.fr</td>
      <td>claude</td>
    </tr>
    <tr>
      <td>Elève</td>
      <td>Gontrand</td>
      <td>Limonade</td>
      <td>gontrand@limonade.fr</td>
      <td>gontrand</td>
    </tr>
  </tbody>
</table>
